.pager li .active_link{
    background: #0275d8;
    color: #fff;
}
.pager li .active_link:hover{
    background: #0275d8;
    color: #fff;
}
.container{
    min-height: 100vh;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }